@font-face {
  font-family: 'Alice-Regular';
  src: url('./fonts/Alice-Regular.woff2') format('woff2'),
       url('./fonts/Alice-Regular.ttf') format('truetype'),
       url('./fonts/Alice-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 600px) {
  .popup-title {
    font-size: 18px;
    max-width: 80vw;
  }
}

#popup-wrapper {
  position: fixed;
  inset: 0;                 /* full screen */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  z-index: 1000;
}

  .popup-title {
  position: fixed;
  top: 5vh;   /* 👈 controls distance from top */
  left: 50%;
  transform: translateX(-50%);
  color: #00A36C;  /* 👈 spring #00A36C / autumn #ffac4a */
  font-size: clamp(16px, 5.5vw, 40px); /* 👈 Lower vw → earlier shrinking */
  max-width: 85vw;
/*   max-width: 90vw; */
  line-height: 1.2;
  white-space: normal;
  word-break: break-word;
  font-weight: 700;
  text-align: center;
  font-family: 'Alice-Regular', serif;
  -webkit-text-stroke: 1px #676767;
  text-shadow:
    0 0 1px #a2a2a2;
}

  .hidden { display: none !important; }

#popup {
  width: 250px;
  height: 180px;
  background-color: transparent;
  border-radius: 15px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.2);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  font-family: sans-serif;
}

  .popup-text {
    font-size: 14px;
    font-weight: 600;
    color: #333;
    pointer-events: none;
  }

  .dot {
    width: 18px;
    height: 18px;
    background: #803b04;
    border-radius: 50%;
    position: relative;
  }

  .hand-icon {
    position: absolute;
    width: 35px;
    top: -5px; /* Adjust starting position relative to dot */
    left: -8px;
    pointer-events: none;
    animation: hand-click 2s infinite ease-in-out;
  }

  @keyframes hand-click {
    0%, 100% { transform: translate(30px, 30px) scale(1); opacity: 1; }
    40%      { transform: translate(5px, 5px) scale(1); }   /* Move to dot */
    50%      { transform: translate(5px, 5px) scale(0.8); } /* Click press */
    60%      { transform: translate(5px, 5px) scale(1); }   /* Release */
  }

